//公用样式
@primary:#dca85f;
//改变元素display
.block{
  display: block !important;
}
.btn{
  display: block;
  color: #fff;
  background-color: @primary;
  border-radius: 8px;
}
.btn-large{
  width: 100%;
  padding: 20px 0;
}